<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti necessitatibus, delectus assumenda consectetur dicta iusto facilis rerum quis dolores eos possimus reiciendis corporis perspiciatis. Dolores atque eum ullam saepe incidunt quam quae dignissimos nesciunt facere perspiciatis. Hic quod iure provident?</p>
    </div>
</div>