<div class="card">
    <div class="card-body">
        <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas harum excepturi libero impedit sed tempore et sequi omnis? Explicabo quibusdam ipsum corrupti facere totam dignissimos, repellat voluptatem veniam vero.</p>
        <a href="#" class="btn btn-primary btn-lg">Web</a>
    </div>
</div>